@charset "UTF-8";

@import 'foundation/setting';
@import 'foundation/normalize';
@import 'foundation/mixin';

// ==============================================
// Layout
// ==============================================

.l-header {
  box-shadow: 0 1px 4px 0 rgba(44, 44, 44, .4);
  background: #40cfa0;

  &__inner {
    @include contentWidth();
    padding: 12px 0;
  }
  &__title {
    font-size: 3rem;
    font-weight: normal;
    line-height: 1;
    color: #fff;
  }
}

.l-main {
  @include contentWidth();
  padding: 46px 0;
}

.l-footer {
  margin-top: 39px;
  text-align: center;

  &__copyright {
    small {
      font-size: 1.2rem;
      color: #888;
    }
  }
}


// ==============================================
// Object
// ==============================================

.c-sec {
  &__title {
    margin-bottom: 14px;
    border-bottom: 1px solid #afafaf;
    padding: 0 0 4px 2px;
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.4;
  }

  & + .c-sec {
    margin-top: 54px;
  }
}


// ==============================================
// 完了テキスト
// ==============================================

.c-txt-correct {
  margin: 36px 0;
  border-radius: 4px;
  border: 1px solid #40cfa0;
  background: #e6f7f1;
  padding: 14px 22px;
  line-height: 1;
}


// ==============================================
// 注釈テキスト
// ==============================================

.c-txt-notice {
  font-size: 1.3rem;
  color: #818181;
}


// ==============================================
// フォーム
// ==============================================

.c-form-tbl {
  margin-bottom: 44px;
  width: 100%;

  th,
  td {
    font-size: 1.6rem;
    text-align: left;
    vertical-align: top;
  }
  th {
    padding-top: 5px;
    width: 174px;
    font-weight: normal;
  }
  tr + tr {
    th {
      padding-top: 24px;
    }
    td {
      padding-top: 19px;
    }
  }
  td {
    > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  .c-txt-notice {
    margin-top: 8px;
  }
}


// ==============================================
// フォームグループ
// ==============================================

.c-form-group {
  border: 1px solid #ccc;
  padding: 21px 18px 20px;

  &__term {
    margin-bottom: 4px;
    line-height: 1;
  }
  &__def {
    & + .c-form-group__term {
      margin-top: 26px;
    }
  }
}


// ==============================================
// テキストフィールド
// ==============================================

.c-form-text {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 9px;
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  transition: border .3s ease;

  &:focus {
    border-bottom: 1px solid #40cfa0;
  }
  &.is-error {
    border-bottom: 1px solid #e83737;
  }

  &.-w30 {
    width: 30%;
  }
  &.-w60 {
    width: 60%;
  }
}


// ==============================================
// セレクトボックス
// ==============================================

.c-form-select {
  position: relative;
  display: inline-block;
  width: 45%;

  &::after {
    position: absolute;
    right: 5px;
    top: 50%;
    content: '';
    margin-top: -5px;
    border-width: 7px 4px;
    border-color: #2c9a7a transparent transparent;
    border-style: solid;
  }

  select {
    appearance: none;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 24px 5px 9px;
    width: 100%;
    background: transparent;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;

    &:focus {
      border-bottom: 1px solid #40cfa0;
    }
  }

  & + .c-form-select {
    margin-left: 8px;
  }
  & + .c-form-checkbox {
    margin-top: 10px;
  }
}


// ==============================================
// チェックボックスリスト
// ==============================================

.c-form-checkbox {
  font-size: 0;
  margin: -12px 0 0 -12px;

  &__item {
    margin: 12px 0 0 12px;
    display: inline-block;
    font-size: 1.5rem;

    label {
      position: relative;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 2px;
      padding: 6px 14px 6px 32px;
      background: #fff;
      transition: background .3s ease;

      &:hover,
      &:focus {
        background: #f6f6f6;
      }
    }
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;

      &:checked + span::before {
        background: url('/app/img/checkbox-checked.svg') left top no-repeat;
        background-size: 100% auto;
      }
    }
    span {
      display: inline-block;

      &::before {
        position: absolute;
        left: 8px;
        top: 50%;
        content: '';
        margin-top: -8px;
        width: 16px;
        height: 16px;
        background: url('/app/img/checkbox-unchecked.svg') left top no-repeat;
        background-size: 100% auto;
        transition: background .4s ease;
      }
    }
  }
}


// ==============================================
// ON / OFF チェックボックス
// ==============================================

.c-form-switch {
  position: relative;
  display: inline-block;
  line-height: 1;

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    cursor: pointer;
    opacity: 0;

    &:checked + span {
      background: #40cfa0;

      &::before {
        left: 6px;
      }
    }
  }
  span {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 88px;
    height: 32px;
    background: #f0f0f0;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    transition: .3s ease background;

    &::before {
      position: absolute;
      left: 50px;
      top: 6px;
      content: '';
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #ccc;
      width: 32px;
      height: 20px;
      background: #fff;
      transition: .3s ease left;
    }
  }

  & + .c-form-group {
    margin-top: 15px;
  }
}


// ==============================================
// フォームエラーメッセージ
// ==============================================

.c-form-error {
  margin: 36px 0;
  border-radius: 4px;
  border: 1px solid #e83737;
  padding: 13px 22px 11px;
  background: #f9f2f2;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #e83737;
}


// ==============================================
// ボタンコンテナ
// ==============================================

.c-btn-container {
  text-align: center;
}


// ==============================================
// ボタン
// ==============================================

.c-btn {
  box-shadow: 0 1px 5px 0 rgba(96, 96, 96, .5);
  border-radius: 2px;
  padding: 12px 22px;
  background: #fc4ec8;
  font-size: 1.5rem;
  line-height: 1;
  color: #fff;
  transition: background .3s ease;

  &:hover,
  &:focus {
    background: #d3a;
  }

  &[disabled] {
    background: #d6d6d6;
    cursor: default;

    &:hover,
    &:focus {
      background: #d6d6d6;
    }
  }
}


.reminder-enter-active {
  animation: TOGGLE .3s ease-out;
}
.reminder-leave-active {
  animation: TOGGLE .3s ease-out reverse;
}

@keyframes TOGGLE {
  0% {
    opacity: 0;
    transform: translateX(14%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
